<nav class="nav-main" role="navigation" aria-label="Main navigation">
  <ul>
    <li><a href="{{ routes.all_products_collection_url }}">{{ 'header.products' | t: default: 'Товари' }}</a></li>
    <li><a href="{{ routes.search_url }}">{{ 'header.search' | t: default: 'Пошук' }}</a></li>
  </ul>
</nav>
